<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-12">
    <h2>HR Tasks</h2>
    <div class="row">
        <button class="btn btn-primary" ng-click="refreshTodos()">Refresh data</button>
        <button class="btn btn-primary" ng-click="syncTodos()">Sync data</button>
    </div>
    <div class="row book" ng-repeat="todo in todos track by todo._id">
        <div class="list-item-wrapper">
            <div class="info-wrapper" style="display: inline-block">
                <p>
                    <b>Action:</b>
                    <span ng-hide="todo.editAction">{{todo.action}}</span>
                    <input class="form-control" type="text" ng-show="todo.editAction" ng-model="todo.action"/>
                </p>
                <p>
                    <b>Due date:</b>
                    {{todo.duedate | date:"MM/dd/yyyy"}}
                </p>
                <p>
                    <b>Task completed:</b>
                    {{todo.completed}}
                </p>
                </div>
            <button type="button" class="btn btn-danger" ng-click="deleteTodo(todo, $index)" style="margin-left: 5px">Delete</button>
            <button type="button" class="btn btn-primary" ng-click="editTodo(todo)" ng-hide="todo.editAction">Edit</button>
            <button type="button" class="btn btn-primary" ng-click="updateTodo(todo)" ng-show="todo.editAction">Update</button>
        </div>
        <div class="divider"></div>
    </div>
</div>