<ion-view>
    <ion-nav-title>
        VMWare Collateral
    </ion-nav-title>
    <ion-nav-buttons side="left">
    </ion-nav-buttons>
    <ion-content class="training-content center">
        <button class="button button-positive" ng-click="loadCollaterals()">Reload data</button>
        <ion-list>
            <ion-item ng-repeat="collateral in collaterals"
                      class="item-button-right">
                <b>{{ collateral._filename }}</b>
                <a href="{{ collateral._downloadURL }}" target="_blank">View file</a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>