<ion-view>
    <ion-nav-title>
        VMWare Collateral
    </ion-nav-title>
    <ion-content class="training-content center">
        <button class="button button-positive" ng-click="loadCollaterals()">Reload data</button>
        <ion-list>
            <ion-item ng-repeat="collateral in collaterals"
                      class="item-button-right">
                <b>{{ collateral._filename }}</b>
                <button  class="button button-positive" ng-click="openPdfFile(collateral._downloadURL)">View file</button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>