<ion-view>
    <ion-nav-title>
        Employees
    </ion-nav-title>
    <ion-nav-buttons side="left">
    </ion-nav-buttons>
    <ion-content class="training-content">
        <div class="button-bar">
            <button class="button button-positive" ng-click="addEmployee()">Add employee</button>
            <button class="button button-positive" ng-click="loadEmployees()">Reload data</button>
            <button class="button button-positive" ng-click="pullEmployees()">Pull</button>
            <button class="button button-positive" ng-click="syncEmployees()">Sync</button>
            <button class="button button-positive" ng-click="pushEmployees()">Push</button>
        </div>

        <ion-list>
            <ion-item ng-repeat="employee in employees"
                      class="item-button-right">
                <p>
                    <b>Name:</b> {{ employee.name }}
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>