<ion-view>
    <ion-nav-title>
        Create Todo
    </ion-nav-title>
    <ion-nav-buttons side="left">
    </ion-nav-buttons>
    <ion-content class="training-content center">
        <form ng-submit="insert(todo)">
            <div class="list">
                <label class="item item-input">
                    <label class="input-label">Task</label>
                    <input type="text" ng-model="todo.action">
                </label>
                <label class="item item-input">
                    <span class="input-label">Date</span>
                    <input type="date" ng-model="todo.duedate">
                </label>
                <ion-checkbox ng-model="todo.completed">Task Completed?</ion-checkbox>
            </div>
            <button class="button button-positive" type="submit">Create Todo</button>
        </form>
    </ion-content>
</ion-view>