<ion-tabs class="tabs-top">

    <ion-tab title="Auth" ui-sref="main.login">
        <ion-nav-view name="auth-tab">
        </ion-nav-view>
    </ion-tab>
    <ion-tab title="Products" ui-sref="main.products">
        <ion-nav-view name="products-tab">
        </ion-nav-view>
    </ion-tab>
    <ion-tab title="Partners" ui-sref="main.partners">
        <ion-nav-view name="partners-tab">
        </ion-nav-view>
    </ion-tab>
    <ion-tab title="ToDos" ui-sref="main.todos">
        <ion-nav-view name="todo-tab">
        </ion-nav-view>
    </ion-tab>
    <ion-tab title="Collateral" ui-sref="main.collaterals">
        <ion-nav-view name="collateral-tab">
        </ion-nav-view>
    </ion-tab>
    <ion-tab title="Insert" ui-sref="main.insert">
        <ion-nav-view name="insert-tab">
        </ion-nav-view>
    </ion-tab>
    <ion-tab title="Employees" ui-sref="main.employees">
        <ion-nav-view name="employees-tab">
        </ion-nav-view>
    </ion-tab>
    <ion-tab title="Media" ui-sref="main.media">
        <ion-nav-view name="media-tab">
        </ion-nav-view>
    </ion-tab>


</ion-tabs>
