<ion-view>
    <div class="bar bar-header bar-stable">
        <h1 class="title">Media</h1>
    </div>
    <ion-content class="training-content">
        <div class="button-bar">
            <button class="button button-positive" ng-click="addMedia()">Add media</button>
            <button class="button button-positive" ng-click="loadMedia()">Reload data</button>
        </div>

        <ion-list>
            <ion-item ng-repeat="media in medias track by media._id"
                      class="item-button-right">
                <div class="info-wrapper">
                    <p ng-hide="media.editAction">
                        <b>Name:</b>
                        <span>{{ media.name }}</span>
                    </p>
                    <label class="item item-input" ng-show="media.editAction">
                        <span class="input-label">Name</span>
                        <input type="text" ng-model="media.name">
                    </label>
                </div>

                <div class="buttons">

                    <button class="button button-assertive" ng-click="deleteMedia(media, $index)">
                        <i class="icon ion-trash-b"></i>
                    </button>

                    <button class="button button-positive" ng-show="media.editAction" ng-click="updateMedia(media)">
                        <i class="icon ion-checkmark"></i>
                    </button>

                    <button class="button button-positive" ng-hide="media.editAction" ng-click="editMedia(media)">
                        <i class="icon ion-edit"></i>
                    </button>
                </div>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>