<ion-view>
    <ion-nav-title>
        Create new media
    </ion-nav-title>
    <ion-nav-buttons side="left">
    </ion-nav-buttons>
    <ion-content class="training-content center">
        <div class="modal-body">
            <form>
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Name</span>
                        <input type="text" ng-model="media.name">
                    </label>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="button button-positive" type="button" ng-click="saveMedia(media)">Save</button>
            <button class="button button-assertive" type="button" ng-click="cancel()">Cancel</button>
        </div>

    </ion-content>
</ion-view>