<ion-view>
    <ion-nav-title>
        Partners
    </ion-nav-title>
    <ion-content class="training-content center">
        <div class="button-bar">
            <button class="button button-positive" ng-click="addPartner()">Add</button>
            <button class="button button-positive" ng-click="loadPartners()">Find</button>
            <button class="button button-positive" ng-click="pullPartners()">Pull</button>
            <button class="button button-positive" ng-click="syncPartners()">Sync</button>
            <button class="button button-positive" ng-click="pushPartners()">Push</button>
        </div>

        <ion-list>
            <ion-item ng-repeat="partner in partners">
                <b>{{ partner.partnername }}</b>
                <br/>
                {{ partner.partnercompany }}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>