<ion-view>
    <ion-nav-title>
        Products
    </ion-nav-title>
    <ion-content class="training-content">
        <div >
        <div class="button-bar">
            <button class="button button-positive" ng-click="sortProducts()">Sort</button>
            <button class="button button-positive" ng-click="skipProducts()">Skip</button>
            <button class="button button-positive" ng-click="limitProducts()">Limit4</button>
            <button class="button button-positive" ng-click="loadProducts()">Reload data</button>
        </div>
            </div>

        <ion-list>
            <ion-item ng-repeat="product in products"
                      class="item-button-right center">
                <b>{{ product.productname }}</b>
                <br/>{{ product.productdesc }}
                <button class="button button-assertive" ng-click="deleteProduct(product, $index)">
                    <i class="icon ion-trash-b"></i>
                </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>