<ion-view>
    <ion-nav-title>
        Work Order Sync
    </ion-nav-title>
    <ion-content class="training-content center">
        <label class="item item-input">
            <label class="input-label">Work Order Generation</label>
            <input type="number" ng-model="workOrderCount">
        </label>
        <button class="button button-positive" ng-click="bulkSync()">Sync to Cloud</button>
        <button class="button button-positive" ng-click="generateData(workOrderCount)">Generate data</button>
    </ion-content>
</ion-view>