<ion-tabs class="tabs-positive">
    <ion-tab title="Products" ui-sref="app.main.products">
        <ion-nav-view name="products-tab">
        </ion-nav-view>
    </ion-tab>
    <ion-tab title="Partners" ui-sref="app.main.partners">
        <ion-nav-view name="partners-tab">
        </ion-nav-view>
    </ion-tab>
    <ion-tab title="ToDos" ui-sref="app.main.todos">
        <ion-nav-view name="todo-tab">
        </ion-nav-view>
    </ion-tab>
    <ion-tab title="Collateral" ui-sref="app.main.collaterals">
        <ion-nav-view name="col-tab">
        </ion-nav-view>
    </ion-tab>
</ion-tabs>
