<ion-view>
    <ion-nav-title>
        Todos
    </ion-nav-title>
    <ion-content class="training-content">

        <label class="item-input-wrapper search-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search by action..." ng-model="search.action">
        </label>



        <div class="button-bar">
            <button class="button button-positive" ng-click="pullTodos()">Pull</button>
            <button class="button button-positive" ng-click="pushTodos()">Push</button>
            <button class="button button-positive" ng-click="loadTodos(search.action)">Find</button>
            <button class="button button-positive" ng-click="syncTodos()">Sync</button>
        </div>

        <ion-list>
            <ion-item ng-repeat="todo in todos track by todo._id"
                      class="item-button-right">
                <div class="info-wrapper">
                    <p ng-hide="todo.editAction">
                        <b>Action:</b>
                        <span>{{ todo.action }}</span>
                    </p>
                    <label class="item item-input" ng-show="todo.editAction">
                        <span class="input-label">Action</span>
                        <input type="text" ng-model="todo.action">
                    </label>
                    <p>
                        <b>Due date:</b>
                        {{ todo.duedate | date:"MM/dd/yyyy"}}
                    </p>
                    <p>
                        <b>Task completed:</b>
                        {{ todo.completed }}
                    </p>
                </div>

                <div class="buttons">

                    <button class="button button-assertive" ng-click="deleteTodo(todo, $index)">
                        <i class="icon ion-trash-b"></i>
                    </button>

                    <button class="button button-positive" ng-show="todo.editAction" ng-click="updateTodo(todo)">
                        <i class="icon ion-checkmark"></i>
                    </button>

                    <button class="button button-positive" ng-hide="todo.editAction" ng-click="editTodo(todo)">
                        <i class="icon ion-edit"></i>
                    </button>
                </div>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>