/.idea/
/plugins/
/node_modules/
/platforms/
/www/js/app.js
/www/css/ionic.app.css
/www/css/ionic.app.min.css
/app/bower_components/
npm-debug.log
www/lib/
/resources/android/
/resources/ios/
.DS_Store
res/