<div class="col-sm-12 col-md-3 col-md-offset-4">
    <div class="page-header">
        <h1>Data Inserts</h1>
    </div>
    <form ng-submit="insert(todo)">
        <div class="form-group">
            <label for="action">Task</label>
            <input type="text" class="form-control" id="action" placeholder="Task" ng-model="todo.action"/>
        </div>
        <div class="form-group">
            <label for="date">Due Date</label>
            <input type="date" class="form-control" id="date" placeholder="Due Date" ng-model="todo.duedate"/>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label><input type="checkbox" value="" id="completed" ng-model="todo.completed">Task Completed?</label>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Insert</button>
    </form>
</div>